// Breakpoints
$breakpoints: (
  phone: 319px,
  large-phone: 375px,
  xlarge-phone: 480px,
  tablet: 768px,
  medium-tablet: 992px,
  large-tablet: 1024px,
  desktop: 1200px,
);

// Colors
$base-white: #ffffff;
$base-black: #000000;
$body-bg: #1C1C3D;
$purple: #6B6BDE;